/* Definição da fonte Rubik Mono One */
@font-face {
  font-family: 'RubikMono';
  src: url('./fontes/Rubik_Mono_One/RubikMonoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Definição da fonte Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('./fontes/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat'; /* Define Montserrat como fonte padrão */
}

/* Estilo específico para o título "LOBBY" */
.lobby-title {
  font-family: 'RubikMono';
  color: #ff6600;
}
